<library path="lib/librqt_test_plugin">
  <class name="test_plugin" type="rqt_test_plugin::test_plugin" base_class_type="rqt_gui_cpp::Plugin">
    <description>A Test rqt plugin</description>
    <qtgui>
      <group>
        <label>rqt plugins</label>
        <icon type="theme">folder</icon>
      </group>
      <label>test_plugin</label>
      <statustip>A Test rqt plugin</statustip>
    </qtgui>
  </class>
</library>
